/* add global styles that can be loaded post LCP here */
.home main .section > div > p + p {
    font-size: var(--heading-font-size-s);
}

.home main .section > div > p + p::first-line {
    font-weight: 700;
    font-size: var(--heading-font-size-l);
}